﻿@page
@model ProjetESport.Pages.RencontrePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rencontre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rencontre.DateRencontre" class="control-label"></label>
                <input asp-for="Rencontre.DateRencontre" class="form-control" />
                <span asp-validation-for="Rencontre.DateRencontre" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Rencontre.IDEquipeVainq" class="control-label"></label>
                <select asp-for="Rencontre.IDEquipeVainq" class="form-control" asp-items="ViewBag.IDEquipeVainq"></select>
            </div>
              <div class="form-group">
                <label asp-for="Rencontre.IDEquipePerd" class="control-label"></label>
                <select asp-for="Rencontre.IDEquipePerd" class="form-control" asp-items="ViewBag.IDEquipePerd"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rencontre.JeuxID" class="control-label"></label>
                <select asp-for="Rencontre.JeuxID" class="form-control" asp-items="ViewBag.JeuxID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
