﻿@page
@model ProjetESport.Pages.RencontrePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rencontre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.DateRencontre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.DateRencontre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.Vainqueur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.Vainqueur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.Perdant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.Perdant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.JeuxChoisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.JeuxChoisi.LibelleJeux)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.RencontreComp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.RencontreComp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rencontre.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
