﻿@page
@model ProjetESport.Pages.RencontrePage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rencontre</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.DateRencontre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.DateRencontre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.Vainqueur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.Vainqueur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.Perdant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.Perdant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.JeuxChoisi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.JeuxChoisi.LibelleJeux)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rencontre.RencontreComp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rencontre.RencontreComp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rencontre.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
