﻿@page
@model ProjetESport.Pages.RencontrePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rencontre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rencontre.ID" />
            <div class="form-group">
                <label asp-for="Rencontre.DateRencontre" class="control-label"></label>
                <input asp-for="Rencontre.DateRencontre" class="form-control" />
                <span asp-validation-for="Rencontre.DateRencontre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rencontre.Vainqueur" class="control-label"></label>
                <select asp-for="Rencontre.Vainqueur" class="form-control" asp-items="ViewBag.Vainqueur"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rencontre.Perdant" class="control-label"></label>
                <select asp-for="Rencontre.Perdant" class="form-control" asp-items="ViewBag.Perdant"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rencontre.JeuxID" class="control-label"></label>
                <select asp-for="Rencontre.JeuxID" class="form-control" asp-items="ViewBag.JeuxID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rencontre.RencontreComp" class="control-label"></label>
                <select asp-for="Rencontre.RencontreComp" class="form-control" asp-items="ViewBag.RencontreComp"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
