﻿@page
@model ProjetESport.Pages.RencontrePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Créer une nouvelle rencontre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rencontre[0].DateRencontre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rencontre[0].Vainqueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rencontre[0].Perdant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rencontre[0].JeuxChoisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rencontre[0].RencontreComp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rencontre) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateRencontre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vainqueur.LibelleEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perdant.LibelleEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JeuxChoisi.LibelleJeux)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RencontreComp.LibelleCompetition)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
