﻿@page
@model ProjetESport.Pages.PageCompetition.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Competition.LibelleCompetition" class="control-label"></label>
                <input asp-for="Competition.LibelleCompetition" class="form-control" />
                <span asp-validation-for="Competition.LibelleCompetition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.NbEquipe" class="control-label"></label>
                <input asp-for="Competition.NbEquipe" class="form-control" />
                <span asp-validation-for="Competition.NbEquipe" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Competition.VainqueurCompetition" class="control-label"></label>
                <input asp-for="Competition.VainqueurCompetition" class="form-control" />
                <span asp-validation-for="Competition.VainqueurCompetition" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="Competition.CompEquipeID" class="control-label"></label>
                <select asp-for="Competition.CompEquipeID" class="form-control" asp-items="ViewBag.CompEquipeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Competition.IDCompJeux" class="control-label"></label>
                <select asp-for="Competition.IDCompJeux" class="form-control" asp-items="ViewBag.IDCompJeux"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
