﻿@page
@model ProjetESport.Pages.PageCompetition.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.LibelleCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.LibelleCompetition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NbEquipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NbEquipe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.VainqueurCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.VainqueurCompetition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.IDCompJeux)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.CompJeux.LibelleJeux)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.TypeComp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.TypeComp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Competition.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
