﻿@page
@model ProjetESport.Pages.PageCompetition.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Competition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.LibelleCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.LibelleCompetition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NbEquipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NbEquipe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.VainqueurCompetition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.VainqueurCompetition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.IDCompJeux)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.CompJeux.LibelleJeux)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.TypeComp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.TypeComp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Competition.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
