﻿@page
@model ProjetESport.Pages.PageCompetition.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Competition.ID" />
            <div class="form-group">
                <label asp-for="Competition.LibelleCompetition" class="control-label"></label>
                <input asp-for="Competition.LibelleCompetition" class="form-control" />
                <span asp-validation-for="Competition.LibelleCompetition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.NbEquipe" class="control-label"></label>
                <input asp-for="Competition.NbEquipe" class="form-control" />
                <span asp-validation-for="Competition.NbEquipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.VainqueurCompetition" class="control-label"></label>
                <select asp-for="Competition.VainqueurCompetition" class="form-control" asp-items="ViewBag.VainqueurCompetition"></select>
            </div>
            <div class="form-group">
                <label asp-for="Competition.CompJeux" class="control-label"></label>
                <select asp-for="Competition.CompJeux" class="form-control" asp-items="ViewBag.CompJeux"></select>
                <span asp-validation-for="Competition.CompJeux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competition.TypeComp" class="control-label"></label>
                <select asp-for="Competition.TypeComp" class="form-control" asp-items="ViewBag.TypeComp"></select>
                <span asp-validation-for="Competition.TypeComp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
