﻿@page
@model ProjetESport.Pages.PageCompetition.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Créer une nouvelle compétition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].LibelleCompetition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].NbEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].VainqueurCompetition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition[0].CompJeux)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Competition) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleCompetition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VainqueurCompetition.LibelleEquipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompJeux.LibelleJeux)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
