﻿@page
@model ProjetESport.Pages.EquipePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.LibelleEquipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.LibelleEquipe)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.PointsEquipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.PointsEquipe)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.NationaliteEquipeID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.NationaliteEquipeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.JeuxID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.JeuxID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Equipe.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
