﻿@page
@model ProjetESport.Pages.EquipePage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.LibelleEquipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.LibelleEquipe)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Equipe.PointsEquipe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Equipe.PointsEquipe)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.NationaliteEquipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.NationaliteEquipe.LibelleNationalite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipe.Jeu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipe.Jeu.LibelleJeux)
        </dd>
    </dl>
</div>
<h5> Listes des licencies inscrit dans l equipe </h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipe.LicencieInscrits.First().Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe.LicencieInscrits.First().Prenom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Equipe.LicencieInscrits)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Equipe.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
