﻿@page
@model ProjetESport.Pages.EquipePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Equipe.ID" />
            <div class="form-group">
                <label asp-for="Equipe.LibelleEquipe" class="control-label"></label>
                <input asp-for="Equipe.LibelleEquipe" class="form-control" />
                <span asp-validation-for="Equipe.LibelleEquipe" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Equipe.PointsEquipe" class="control-label"></label>
            <input asp-for="Equipe.PointsEquipe" class="form-control" />
            <span asp-validation-for="Equipe.PointsEquipe" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="Equipe.NationaliteEquipeID" class="control-label"></label>
            <select asp-for="Equipe.NationaliteEquipeID" class="form-control" asp-items="ViewBag.NationaliteEquipeID"></select>
        </div>
        <div class="form-group">
            <label asp-for="Equipe.JeuxID" class="control-label"></label>
            <select asp-for="Equipe.JeuxID" class="form-control" asp-items="ViewBag.JeuxID"></select>
        </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
