﻿@page
@model ProjetESport.Pages.EquipePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Créer une nouvelle équipe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].EquipeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].LibelleEquipe)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Equipe[0].PointsEquipe)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].NationaliteEquipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipe[0].Jeu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleEquipe)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PointsEquipe)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NationaliteEquipe.LibelleNationalite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jeu.LibelleJeux)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
