﻿@page
@model ProjetESport.Pages.StatutPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Statut[0].IDStatut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut[0].LibelleStatut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Statut) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDStatut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleStatut)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
