﻿@page
@model ProjetESport.Pages.LicenciePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Licencie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencie.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencie.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencie.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencie.Prenom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Licencie.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
