﻿@page
@model ProjetESport.Pages.LicenciePage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Licencie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencie.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencie.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencie.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencie.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Licencie.EquipeLicencie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Licencie.EquipeLicencie.LibelleEquipe)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Licencie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
