﻿@page
@model ProjetESport.Pages.LicenciePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Licencie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Licencie.ID" />
            <div class="form-group">
                <label asp-for="Licencie.Nom" class="control-label"></label>
                <input asp-for="Licencie.Nom" class="form-control" />
                <span asp-validation-for="Licencie.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Licencie.Prenom" class="control-label"></label>
                <input asp-for="Licencie.Prenom" class="form-control" />
                <span asp-validation-for="Licencie.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Licencie.EquipeLicencieID" class="control-label"></label>
                <select asp-for="Licencie.EquipeLicencieID" class="form-control" asp-items="ViewBag.EquipeLicencieID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
