﻿@page
@model ProjetESport.Pages.LicenciePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" asp-route-id="">Créer un nouveau licencié</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencie[0].EquipeLicencie)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Licencie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipeLicencie.LibelleEquipe)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
