﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}    
    <div class="display-home">
    <h1 class="display-4">Organisation des compétitions ESport</h1>
    <p>Bonjour, bienvenue sur notre site de gestion de nos différentes compétitions ESport. </p>
    <p>Nous vous invitons à vous connecter pour voir les différentes intéractions possibles avec notre site</p>
    </div>
