﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "A propose de nous";
}
<h1>@ViewData["Title"]</h1>

<div background="C:\Users\Guillaume\source\repos\ProjetESport\ProjetESport\images\background.jpg" class="text-center">
    <h1 class="display-4">Notre site de gestion des compétitions</h1>
    <p>Ce site a été créé par Thmas et Guillaume. </p>
    <p>Il a pour but d'afficher des compétitions d'Esport, les résultats des rencontres et les compositions d'équipes</p>
</div>