﻿@page
@model ProjetESport.Pages.JeuxPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jeux[0].IDJeux)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jeux[0].LibelleJeux)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jeux) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDJeux)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleJeux)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
